@charset "ISO-8859-1";

	.container { 
		width: 70%; 
		margin: auto; 
		text-align: center; 
	} 
		


	.dice { 
		text-align: center; 
		display: inline-block; 
		margin: 10px; 
	} 

	body { 
		background-color: #14eb6a; 
		margin: 0; 
	} 

	h1 { 
		margin: 30px; 
		font-family: "Algerian"; 
		font-size: 4.5rem; 
		color: #0000ff; 
		text-align: center; 
	} 

	p { 
		font-size: 2rem; 
		color: #eb3034; 
		font-family: "Indie Flower", cursive; 
	} 

	img { 
		width: 100%; 
	} 

	.bottom { 
		padding-top: 30px; 
	} 

	.butn { 
		background: #ff80ff; 
		font-family: "Indie Flower", cursive; 
		border-radius: 7px; 
		color: #ffff; 
		font-size: 30px; 
		padding: 16px 25px 16px 25px; 
		text-decoration: none; 
	} 

	.butn:hover { 
		background: #f2bbf1; 
		text-decoration: none; 
	} 